

.fuwafuwa {
    animation: fuwafuwa 3s linear infinite;
} 
  /* fuwafuwa */
@keyframes fuwafuwa {
    0%
    { 
        color: white;
    }
    50% 
    {
        color: gold;
    }
    100% 
    { 
        color: white;
    }
  }